.province:hover {
  /* fill: rgba(255, 0, 0, 0.5); */
  stroke: #000;
  cursor: pointer;
  /* transform: scale(1.1); */
  transition: all 0.3s;
}

.city_bubble {
  touch-action: none;
  pointer-events: none;
}

.city_label {
  font-size: 12px;
  font-weight: bold;
  fill: #000;
  pointer-events: none;
}